files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFIzCCAwugAwIBAgIUC/sE+TKhu8K3mPLzkwRhc5To6tswDQYJKoZIhvcNAQEL
        BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yMjEwMzEy
        MzA5MDlaFw0yMzEwMzEyMzA5MDlaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
        dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDYIn+G0FRz
        5eqiIEPnpodqyGpZ/laTztuJrZdm9m2J86B6c4XeI9TvNXlo8SnV7QfYu6mzjMG2
        D1laenWGN5dWDg8f1n5/Wotq4McF2NjtbmEYzDWvJoedGDp4w5Zn0bDpQDzAiZ0p
        URwKVUS55eJMlTwsuaopZlYhm1ltBbUlfkj01ZqW0OcfBat5f8FqCbHNnR6+hn2e
        opSOYL90tG0cOPjzwH5wxhjaTYgCGMyyq7mEHx4IZknc3QZy/3c/jscvFVJ6JvJj
        EvQ9t8QX4I1RCM1eGZLqCtUbGW/IswQj4RtB1+SQwv3lCm86YgQK7LT2wIMeQcRT
        mwf+sZ4RjR9j2IcmRM0BFbqxLgx8b6NDNwq0KJGsn0lGPbyAMOF9fnJx37fUGfDc
        EkV1ifwoj3NARgaSNSx//0CzpBx1pxsIIP8KFjJznavyrcKNqcZfmYE5N+6KpG+G
        XYXatq73IQ3lay3MmPSKODguc8+VzlwNQ41w9ojtuUeQk4uoThrN8xg1w4ZlIDD7
        b05AQczGYpLGsnPYEG8G/s/CJx8NW5cfJjSoGglMsu+Txsw5p6TwQr1+1kJDAx2b
        6pMXPGFgvDDvBpn40zvEeqVbswnF+4oWnsk7kVbXUvLo5+E1S3spIpmgSAdL5Zg3
        QNHLpLjsYoR+zGAQlFyFOa1BTn6lcLyxPQIDAQABo1MwUTAdBgNVHQ4EFgQUv+8v
        9RIks5QIDmgWhwGNL3W/s8owHwYDVR0jBBgwFoAUv+8v9RIks5QIDmgWhwGNL3W/
        s8owDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAtZDMatf2kmvK
        D+iGEHbXiJi1cjn+ZM1lzqtv0Czjbmerl3+4jl5SjB2zW9mxBy+4rE0elsnGdyYm
        oPRVFX53WacqYLACp3kw5/OJ5CjmcCpLYHz/FSJRYfCt7n4KROgs+KN5Lb7xx79g
        X/Jhc8pkf/qhvdeeSyt7bkEWsgNr1xGazQH1KRmrmQbJJumPoZdoxFKrXMuDHT+S
        8YTqvIy7lFetde/CRI/grDAizfy+mSYEusE00NblMQ5Ii/FrYSf5Wp4CJ1UPDiHo
        cLWiCkLHtmsnk88WgckLv1ONldU6FBe6FLh9m2Yhz/p4ofhpwUUCUqG8orB34Ocr
        6N7jIuLyrSylBTYyA6HJXBf/D7bhcQdFjTKzn8ZvByp/I8S8EraYd+F+bw6/Aoen
        RRR95eWJOWnyWOqLmOWB6Av8aanHDaSg7PUoXvbmmF0OkGttc/BWqwoSsGpdNBT4
        0r8WFKH+NM50sapWr9talX0GhoC8IbhOhM+rECHa384Vb4C74ORCQ5ovQR+obZT5
        4R88xN0CaCu5ZRMnuDO9mrVg3XfNu71J7N2WV+Ab4ScmQLeun5vhcur38aFO3gEn
        xRL50UseIznkkVr3Za38/KjVUz1du+Ehp/pf6YHTAlwkqGlxXLLMf6tvVK/0pgzd
        9UElk7N/AfyGmjsvmq3+2uKt+DBEkrs=
        -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIJKAIBAAKCAgEA2CJ/htBUc+XqoiBD56aHashqWf5Wk87bia2XZvZtifOgenOF
        3iPU7zV5aPEp1e0H2Lups4zBtg9ZWnp1hjeXVg4PH9Z+f1qLauDHBdjY7W5hGMw1
        ryaHnRg6eMOWZ9Gw6UA8wImdKVEcClVEueXiTJU8LLmqKWZWIZtZbQW1JX5I9NWa
        ltDnHwWreX/BagmxzZ0evoZ9nqKUjmC/dLRtHDj488B+cMYY2k2IAhjMsqu5hB8e
        CGZJ3N0Gcv93P47HLxVSeibyYxL0PbfEF+CNUQjNXhmS6grVGxlvyLMEI+EbQdfk
        kML95QpvOmIECuy09sCDHkHEU5sH/rGeEY0fY9iHJkTNARW6sS4MfG+jQzcKtCiR
        rJ9JRj28gDDhfX5ycd+31Bnw3BJFdYn8KI9zQEYGkjUsf/9As6QcdacbCCD/ChYy
        c52r8q3CjanGX5mBOTfuiqRvhl2F2rau9yEN5WstzJj0ijg4LnPPlc5cDUONcPaI
        7blHkJOLqE4azfMYNcOGZSAw+29OQEHMxmKSxrJz2BBvBv7PwicfDVuXHyY0qBoJ
        TLLvk8bMOaek8EK9ftZCQwMdm+qTFzxhYLww7waZ+NM7xHqlW7MJxfuKFp7JO5FW
        11Ly6OfhNUt7KSKZoEgHS+WYN0DRy6S47GKEfsxgEJRchTmtQU5+pXC8sT0CAwEA
        AQKCAgAfQe37i0mLcWbbh5sKd3UCJnXrCfNvcO0jHi3VQDJbTxaYXvivRbNX3P3w
        BWCthZgq6gkC5IpnUBT2FtvES2nhkirxyc2FkYy0KkneOJw2yk3UjkP9Tq8yMvzR
        1kd8QEE7moSuu7g073wEqoxD7lEqDjMjrL5FOn2eYp8uOzMVdwwKDJJM2W1zeRhx
        e952/Wvvdpepqj2koZKmfKtzr1xQRpUKe35NxPh3KdtPolKITHmJ+A4Z3OE1xelW
        3Edcs8NutcC11cgcN/OGsXr0kQ8e9wzsXPp4SpTDVIxsFCe3IKkWfqiZnvmlFDs9
        0EsRYWZSgUj1KUHBbZxcY0ee9i/htrWa1rC2J9t6jnpusDg5r+T0zg5F7rbYEH8A
        tHyKbIGcfW9Kg9Ai55UkvVB8l4TK32RrkZlW4pA1MeD6FFjPFrDleBDMKMytFAYJ
        zKM8imA0FrWqbJ6MXMZrYtyPe6iLheXrwGtU4ddbq7uw9P4gr4DWWXLc2puPRNj8
        x+WZY6tXicGoB5bM0DnXChGAPHNXPw6GtgeLVA+Qted66U9AY445RLWyFQjzAmBl
        bmm3/SDqemI5aRBbkMGdd6noiyDWRXCMoW1jLsqgAj/f3P+d3jAUNhsvre7wFZq5
        geUcEkUeEkoTx+6l6nnItgaG6AZLZ7L0H9vYoP3TF0bszg0AaQKCAQEA7n7YSk87
        sTw39pof7tI/H7Ct+hDOUDpJnLmiOGbTviBT4zzs+BPYET+gC6eowP2kJAoFVeSt
        hruA4nvp1qA9LMLhRa+a5CM4EgO60NGVqx+zwV3Ej85rSdC7JWSI8H+/n0geXzsw
        loBn6a2EKiD4KOenppRH/wKnb82X5z39Fz/e4zC2lgL5JqI1odzk7BT0pN6EVR8J
        MHPYDOawB/ESOz1AC5NVINRLsAlzZjKbzfnX+W72Yyzdi+oGaaAgZ9wMYau2C5Dh
        7K2a4bpc/oBhhkN2JJszoWI50db9ijcJo3KS/ns6Q2yox1M2kJqmcPpsFd+675bu
        dyvCJA4L+dGSrwKCAQEA5/+C9saszFR9KUROD/HBKEvn9Q0arSPfGRGHLK7EhE3E
        xXCWIHD04tML7t/RpXmYx05rG/ltIdfNFrQoDtk8Fcge2U8kvdVHQdOEm8ccNr9X
        XAxk/84vkZtMJ0BRxPJuOaBh8LbGqoRA+Rtn5IoDnJQEkHoDoN5iZzTPSLWQDgJ/
        CZLWiOo0AiiTusUyYskh4jYmgIgwfMPT6iMqsFefLodY2gkYgMrYSTs+bYy8GOf2
        uQuX8pjWG8CBGJC8Yo43cquLYhwYFVjATs0qTUV75OGKRJzMxcB9soN2WOIT9AT0
        xz9OBwN6WU6G0o8KnWXlLKIMNXAP9SoJUZqSF2ql0wKCAQEAvtdth/jjES3YslIe
        X2KJ9HfSn5m3HeemY+z/bBaMNUV1Gw7zqIdojFTXYrwkg1nzcIs8PcEhQgDkX1c8
        hOvwR9MhpDuivA+anH+zi8lJ9IcHtiGsWk6Y95Y5SvCpy5jN4004UIfyl1vkys54
        RaXgLgtA0kExY1PiW8quVPH7hhEr76xZTqzOZiXCuOUjoe4a3ZrZVaviFI1+QsSN
        86zqI9EdYKXipsR6VEEbwJmapzXXptct/ao3FfCMdRUXGUSx+64FnDexMUyx9RLF
        uzlL0L5G2X//zpHlJo7cjy7/XXUfPteoha97VxS1Qv0dVqZsuwwub+3coCu5zFQZ
        LSyQLQKCAQBmEUrsCTKC3vUFz9BMQX9KnEKb1D0VSX/gxo5jASziTFiyyLqz4R5M
        IK/SU1Qn6hxmK0ECWLVDu262e2JYTgiaSKYR0zkF76xe8JEZ+/qUt4/WpnlU9cCF
        3f4eErUm4cXOwpn0TmWPJYp0TjNiH7pBC/oKGjQ4dT5zy48anQ6Yq056xshuCiQB
        gxqjhBiLz5OBs3My/zfd3EYCb6BbXuFglhloK7JFD3kiltb7WXxztLIebVRXXhhs
        sz/Yr+zBq3IHmCNFcbjCw34v7SGcR2Kfqv6q+xU4N1zVyfKqXiSLKhcLBfXtLgGJ
        Avxb7KSt5ONzxIN8iyXqJald5pQ5iykTAoIBAHwiNS/zpLMmGfoCkJf4KnOWo8os
        vM7lX5fYVwoJpP8IazsaMZ7e9bjmol1bUc/Nu7hJfun+sYl+66wEyF8yMIiRh50F
        323Fh1l4j7N70ZyrqFXwqXn+BvpTIR3Bpvk3OLsjyyVidrvaArfF08Bf61bC6KJr
        eQn0mVilLcGhcyU6hQmtDzZrntfWqKm7hiUlG+Zj63x57JnNrmWYLhPRAgdpIFQl
        2QG/EplPvwGTcNxWX15YdxZKycsa0TbsehajDXZqt2VOMLQmlARZgUrR1R0fb00g
        O5Yi+uemNufpadn++BHN9RGK56HafeBAyyJYJAKakCyvEXyiaOPML6CHk2I=
        -----END RSA PRIVATE KEY-----
